<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <form>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input  type="email" placeholder="Your email Address"></ion-input>
    </ion-item>
    <ion-item class="error-message" >
      <ion-label>Your password needs more than 6 characters.</ion-label>
    </ion-item>

    <ion-button expand="block"  fill="clear" routerLink="/home">
      Log In 
    </ion-button>
  </form>
  <ion-button expand="block" fill="clear" routerLink="/signup">
    Create a new account
  </ion-button>
  <ion-button expand="block" fill="clear" routerLink="/reset-password">
    I forgot my password :(
  </ion-button>
</ion-content>